@media screen and (max-width: 1600px) {
    .cards {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 1364px) {
    .cards {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 1125px) {
    .cards {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 890px) {
    .cards {
        grid-template-columns: 1fr;
    }
}